server:
  port: 8082
  servlet:
    context-path: /notification
spring:
  application:
    name: notification
  data:
    mongodb:
      uri: mongodb://root:root@localhost:27017/notification-service?authSource=admin

jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"