server:
  port: 8888
app:
  api-prefix: /api/v1
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: identity-service
              uri: http://localhost:8080
              # Path: Đây là loại Predicate kiểm tra đường dẫn (URL) của request.
              # /identity: Đây là tiền tố (prefix) bắt buộc phải có ở đầu URL.
              predicates:
                - Path=${app.api-prefix}/identity/**
              filters:
                - StripPrefix=2
            - id: profile-service
              uri: http://localhost:8081
              predicates:
                - Path=${app.api-prefix}/profile/users/**
              # Tác dụng cắt bỏ một phần của đường dẫn (path) trước khi gửi request tới dịch vụ con. Đây là /api
              filters:
                - StripPrefix=2
            - id: notification-service
              uri: http://localhost:8082
              predicates:
                - Path=${app.api-prefix}/notification/**
              filters:
                - StripPrefix=2
            - id: post-service
              uri: http://localhost:8083
              predicates:
                - Path=${app.api-prefix}/post/**
              filters:
                - StripPrefix=2